@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

.main-btn{
  @apply w-full bg-blue-600 p-2 text-white my-2 rounded-sm cursor-pointer
}

.main-color {
  color: #f07167;
}
.main-bg-color {
  background-color: #f07167;
}

.light-color {
  color: #fed9b7;
}
.light-bg-color {
  background-color: #fed9b7;
}

.row {
  @apply flex flex-wrap 
}

.lighter-color {
  color: #fdfcdc;
}
.lighter-bg-color {
  background-color: #fdfcdc;
}

.second-color {
  color: #00afb9;
}
.second-bg-color {
  background-color: #00afb9;
}

.third-color {
  color: #0081a7;
}
.third-bg-color {
  background-color: #0081a7;
}
